{% extends 'basic.html' %}
{% block title %}About Us {% endblock %}
{% block body %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color:rgb(231, 225, 225); height:330px;">
      <div class="container" >
        <h1 class="display-3" style="padding-top: 30px;">My Shopping Cart</h1>
        <p>My Shopping Cart Limited is an Indian e-commerce company, headquartered in Bengaluru, and also incorporated in India as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

            The service competes primarily with Amazon India, Flipkart and domestic rival Snapdeal.As of March 2023, My Shopping Cart held a 0.0003% market share in the Indian e-commerce industry.My Shopping Cart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones</p>
        <p><a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Flipkart" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container py-4">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Our Work</h2>
          <p>We're known more by the impact we create
            than the titles we hold. Impact that is brought by
            working together on audacious challenges at scale
            with an aim to revolutionize for the Indian customer.
            We believe great ideas can emerge from anywhere
            and must be backed. Our people - backed by our
            culture of end-to-end ownership - have revolutionised
            India's e-commerce sector - several times over! </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Our Work</h2>
            <p>We're known more by the impact we create
              than the titles we hold. Impact that is brought by
              working together on audacious challenges at scale
              with an aim to revolutionize for the Indian customer.
              We believe great ideas can emerge from anywhere
              and must be backed. Our people - backed by our
              culture of end-to-end ownership - have revolutionised
              India's e-commerce sector - several times over! </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Our Work</h2>
            <p>We're known more by the impact we create
              than the titles we hold. Impact that is brought by
              working together on audacious challenges at scale
              with an aim to revolutionize for the Indian customer.
              We believe great ideas can emerge from anywhere
              and must be backed. Our people - backed by our
              culture of end-to-end ownership - have revolutionised
              India's e-commerce sector - several times over! </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
  {% block js %}
  <script>
      if (localStorage.getItem("cart") == null) {
          var cart = {};
        } else {
          cart = JSON.parse(localStorage.getItem("cart"));
        }
        var sum=0;
        for(item in cart){
          let qty=cart[item][0];
          sum=sum+qty;
        }
        document.getElementById("cart").innerHTML = sum;
  
  </script>
  {% endblock %}
  

{% endblock %}
